@charset "UTF-8";

/**************************************
    Basic Styles
***************************************/
/**
 * Reset Styels
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

p {
    margin: 0 0 24px;
}

menu,
ol,
ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}

ul {
    list-style-type: square;
}

li > ul,
li > ol {
    margin: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}

table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}

th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}


h1, h2, h5, h6,
.h1, .h2, .h5, .h6 {
    font-family: "Dosis", sans-serif;
    line-height: 1.3;
    color: #333333;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 24px;
    letter-spacing: 1px;
}

h4,.h4 {
    font-family:"Kohinoor Bangla";
    line-height: 40px;
    font-size: 20px;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 16px;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

button{
    background: transparent;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    color: #333333;
}


/**
 * Utilities
 */
.hidden {
    display: none;
}

.wrapper {
    position: relative;
}

/* Define Colors */
.color-theme {
    color: #000000;
}

.color-light {
    color: #999999;
}

.color-dark {
    color: #333333;
}

.color-black {
    color: #000000;
}

.color-white {
    color: #ffffff;
}

/* Background Color */
.bg-secondary {
    background: #3498db;
}

.bg-light {
    background: #f7f7f7;
}

.bg-grey {
    background: #f0f0f0;
}

.bg-dark {
    background: #2a2a2a;
}

.bg-dark-light {
    background: #323232;
}

.bg-black {
    background: #000000;
}

.bg-white {
    background: #ffffff;
}



/* Text specialized */
.text-italic {
    font-style: italic;
}

.text-normal {
    font-style: normal;
}

/* Font specialized */
.body-font {
    font-family: "Dosis", sans-serif;
}

.heading-font {
    font-family: "Dosis", sans-serif;
}

.chinese-font{
    font-family: "STFangsong";
}

/* Height and width */
.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.33%;
}

.w-25 {
    width: 25%;
}

.w-10 {
    width: 10%;
}

.h-100 {
    height: 100%;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}

.h-33 {
    height: 33.33%;
}

.h-10 {
    height: 10%;
}



/**************************************
	Elements Styles
***************************************/
/**
 * Button
 */
.button, .button:link, .button:visited {
  display: inline-block;
  border: 1px solid #555555;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 15px 25px 14px 25px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #555555;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.readmore, .readmore:visited, .readmore:link {
  display: inline-block;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
}

.readmore::after {
  content: " _";
}


/**************************************
	Blocks Styles
***************************************/
/**
 * Header
 */
.header-logo {
  line-height: 1;
}

.header-logo a {
  display: inline-block;
}


<!--  -->

.header-navigation-trigger {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 6px 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header-navigation-trigger span {
  display: block;
  height: 2px;
  width: 100%;
  background: #000000;
  float: right;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}


.header-navigation-trigger.is-active {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.header-navigation-trigger.is-active span:first-child {
  -webkit-transform: rotate(90deg) translateX(7px);
  -ms-transform: rotate(90deg) translateX(7px);
  transform: rotate(90deg) translateX(7px);
}

.header-navigation-trigger.is-active span:last-child {
  width: 100%;
  -webkit-transform: rotate(90deg) translateX(-7px);
  -ms-transform: rotate(90deg) translateX(-7px);
  transform: rotate(90deg) translateX(-7px);
}


<!-- -->
.header-navigation {
  position: relative;
}

.header-navigation .main-navigation {
  position: absolute;
  right: 100%;
  z-index: 1;
  width: 850px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  text-align: right;
}

.header-navigation .main-navigation > ul {
  text-align: left;
  display: inline-block;
  margin-right: 30px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-navigation .main-navigation.is-visible > ul {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 0;
}

/* Fixed Header */
.fixed-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 80;
}

/* Sticky Header */
.sticky-header.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 400;
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: crSlideInDown 0.5s ease-out 0s 1 both;
  animation: crSlideInDown 0.5s ease-out 0s 1 both;
}

.sticky-header.is-sticky .header-inner {
  padding: 15px 0;
}

/* Mobile Menu */
.mobile-menu a.mobile-logo {
  position: absolute;
  left: 0;
  top: 23px;
  height: auto;
  width: auto;
  line-height: 1;
  z-index: 100;
}

.mobile-menu a.mobile-logo img {
  max-height: 100%;
  width: auto;
}

.mobile-menu a.meanmenu-reveal.meanclose .white {
  display: none;
}

/**
 * Navigation
 */
nav.main-navigation > ul > li a {
  position: relative;
  padding: 40px 20px;
}

nav.main-navigation > ul > li a::before {
  content: "";
  position: absolute;
  left: 20px;
  top: calc(50% + 12px);
  width: calc(100% - 40px);
  height: 1px;
  background: #000000;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav.main-navigation > ul > li:hover a::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

nav.main-navigation ul {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0;
}

nav.main-navigation ul li {
  display: inline-block;
  font-size: 16px;
}

nav.main-navigation ul li a {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
  letter-spacing: 1px;
}

nav.main-navigation ul li:hover a {
  color: #000000;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  nav.main-navigation ul li a {
    padding: 40px 15px;
  }
}

/* Dropdown Styles */
nav.main-navigation ul li {
  position: relative;
}

nav.main-navigation ul li ul {
  border-top: 3px solid #000000;
  position: absolute;
  left: 0;
  width: 250px;
  top: 100%;
  background: #ffffff;
  text-align: left;
  padding: 15px 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 10;
}

nav.main-navigation ul li ul li {
  display: block;
}

nav.main-navigation ul li ul li a {
  display: block;
  padding: 3px 20px;
  font-family: "Dosis", sans-serif;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

nav.main-navigation ul li ul li a::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  height: 1px;
  width: 7px;
  border-radius: 100px;
  background: #000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav.main-navigation ul li ul li a:hover {
  color: #000000;
}

nav.main-navigation ul li ul li a:hover::before {
  opacity: 1;
}

nav.main-navigation ul li ul li ul {
  left: calc(100% + 1px);
  top: 0;
}

nav.main-navigation ul li:hover > ul {
  visibility: visible;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.fixed-header nav.main-navigation > ul > li a {
  padding: 20px 20px;
}

.fixed-header nav.main-navigation ul li ul li a {
  padding: 3px 20px;
}

.sticky-header.is-sticky nav.main-navigation > ul > li a {
  padding: 19px 20px;
}

.sticky-header.is-sticky nav.main-navigation ul li ul li a {
  padding: 3px 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fixed-header nav.main-navigation > ul > li a {
    padding: 20px 15px;
  }
  .fixed-header nav.main-navigation ul li ul li a {
    padding: 3px 15px;
  }
  .sticky-header.is-sticky nav.main-navigation > ul > li a {
    padding: 19px 15px;
  }
  .sticky-header.is-sticky nav.main-navigation ul li ul li a {
    padding: 3px 15px;
  }
}

/**
 * Hello Area
 */
.hello-area-inner {
  position: relative;
  min-height: 700px;
  display: -webkit-box;
  display: flex;

  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid #f1f1f1;
  z-index: 1;
}

.hello-area-text {
  padding: 120px 0;
}

.hello-area-text h1 {
  font-family: "Dosis";
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 5px;
}

.hello-area-text h5 {
  margin-top: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}

.hello-area-image {
  position: absolute;
  top: 100px;
  max-height: 100%;
  z-index: -1;
}


/**
 * Hello Area for sub page
 */
.hello-sub-content {
  position: relative;
  min-height: 200px;
  display: -webkit-box;
  display: flex;

  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid #f1f1f1;
  z-index: 1;
}


.hello-sub-text {
  padding: 80px 0;
}

.hello-sub-text h2 {
  font-family: "Dosis";
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}



.hello-sub-image {
  position: relative;
  top: 100px;
  max-height: 100%;
  z-index: -1;
}


/**
 * feature
 */
.feature {
    padding: 5.6285em 0 2.9145em;
}

.feature-content {
    margin-bottom: 2.714em;
}

.feature-icon-box{
    margin-left: 80px;
}

.feature-icon {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #5d5d5d;
    font-size: 45px;
    height: 90px;
    padding: 10px 0px 0px 3px;
    width: 90px;
}

.feature-content:hover .feature-icon {
    background-color: #ffffff;
    border: 1px solid #5d5d5d;
    color: #5d5d5d;
}

.feature-heading {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.feature-description {
    padding: 10px;
    margin-bottom: 0px;
}



/**
 * information
 */
.information-filters {
    margin-bottom: 25px;
    line-height: 1;
}


.information-margin-fixer {
    margin-top: -30px;
}

.information {
    position: relative;
    background: #f1f1f1;
    margin-top: 30px;
    overflow: hidden;
}

.information .information-image img {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter:Alpha(Opacity = 50);
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.information .information-content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-image: url("img/bg2.jpg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.information .information-content a.information-zoom-button {
    height: 80px;
    width: 80px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.information .information-content a.information-zoom-button::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #555555;
}

.information .information-content a.information-zoom-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #555555;
}

.information .information-content a.information-zoom-button:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.information-heading h2{
    letter-spacing: 6px;
}

.information-heading p{
    font-style: italic;
    letter-spacing: 2px;
}


.information .information-content h5 {
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom:10px;
}

.information .information-content h5 a {
    color: #333333;
}

.information .information-content h5 a:hover {
    color: #000000;
}

.information .information-content h6 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 400;
}

.information .information-content h6 a {
    color: #333333;
}

.information .information-content h6 a:hover {
    color: #000000;
}

.information:hover .information-image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.information:hover .information-content {
    top: 0;
}



/**
 * Information
 */
.information {
    padding: 50px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 7px 15px rgba(85, 85, 85, 0.2);
    box-shadow: 0 7px 15px rgba(85, 85, 85, 0.2);
    margin-top: 30px;
}

.information-box{
    height: 250px;
    padding: 50px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 7px 15px rgba(85, 85, 85, 0.2);
    box-shadow: 0 7px 15px rgba(85, 85, 85, 0.2);
    margin-top: 30px;
}

.information-box p {
    line-height: 30px;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.information h5 {
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    padding: 0;

    position: relative;
}

.information p {
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.information.text-center h5 {
    padding: 0;
    padding-left: 10px;
}



/**
 * information Details
 */
.information-details-image img {
    width: 100%;
}

.information-details-meta ul {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    margin-bottom: 0;
    list-style: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.information-details-meta ul li {
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    color: #666;
    padding: 10px 0;
}

.information-details-meta ul li:last-child {
    border-bottom: 0 none;
}

.information-details-meta ul li i {
    color: #444;
    font-size: 16px;
    line-height: normal;
    margin-right: 20px;
}

.information-details-meta ul li span {
    color: #444;
    font-weight: 700;
    margin-right: 5px;
}

.information-details-meta ul li a {
    color: #333333;
}

.information-details-meta ul li a:hover {
    color: #000000;
}

.information-details-info .information-title {
    font-weight: 600;
    letter-spacing: 1px;
}

.information-details-info .post-share {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 30px;
}

.information-details-info .post-share h6 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.information-details-info .post-share ul {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    margin-bottom: 0;
}

.information-details-info .post-share ul li {
    display: inline-block;
    list-style: none;
    margin: 0 6px;
    font-size: 14px;
}

.information-details-info .post-share ul li a {
    display: block;
    color: #333333;
}

.information-details-info .post-share ul li a:hover {
    color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .information-details-info {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .information-details-info {
        margin-top: 50px;
    }
}






/*** Staff ****/

#staff-speech .staff-box {
    background-color: #fff;
    margin-bottom: 2.714em;
    padding: 40px;
}

#staff-speech .staff-box .about-staff {
    width: 32%;
    float: left;
}

#staff-speech .staff-box .about-staff p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 8px;
    text-align: center;
    text-transform: uppercase;
}

#staff-speech .staff-box .main-speech {
    padding-left: 40%;
}

#staff-speech .staff-box .main-speech p {
    font-size: 13px;
    margin-top: 5px;
}

.staff-box{
    height: 150px;
}

@media (max-width: 991px) {
    .intro .intro-description h2 {
        margin-top: 1.414em;
    }
}

@media (max-width: 991px) and (min-width: 700px) {
    .intro .intro-description {
        padding-left: 60px;
    }
}

/*** Activities ***/
.act-img img{
    padding-top: 10px;
    padding-right: 5px;

}

/*** Contact ***/
.contact-box{
    height: 369px;
    width: 295px;
    padding: 50px 30px 50px 0;
    background: #ffffff;
    margin-top: 30px;
}


/*** Footer ***/
    .footer-inner {
        border-top: 1px #f1f1f1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0;
        padding: 22px 0;
    }

    .footer-inner li {
        color: #ffffff;
        list-style: none;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 15px);
        flex: 0 0 calc(50% - 15px);
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 9px 0;
    }

    .footer-inner li:nth-child(even) {
        text-align: right;
    }



    /**
     * Boxed Layout
     */
    .boxed-layout {
        margin: 0 auto;
        max-width: 1500px;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    /**
     * Some setting for sub pages
     */
    .backToTop{
        position: relative;
        color: #bbbaba;
    }

    .backToTop a:hover a a:link{

        color: #bbbaba;
    }
/*****************************************/
/*>>>>>>>>>>>>>>>(THE END)<<<<<<<<<<<<<<<*/
/*****************************************/